.search-box-dropdown {
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  width: 200px;
  padding: 6px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  margin-top: -6px;
  background-color: #ffffff;
}
